.App {
  text-align: center;
  color: #494C4D;
}

.App-logo {
  animation: App-logo-spin 2s linear;
  height: 80px;
}

.App-header {
  background-color: #90C3D4;
  height: 150px;
  padding: 20px;
  margin-bottom: 15px;
  color: #494C4D;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  max-height: 500px;
  margin-top: 15px;
  font-size: 13px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 0;
}

input[type="text"] {
  font-size: 1.2em;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  margin: 2px;
}

input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #969696;
  outline: none;
}

.flat {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  margin: 2px;
}

.flat:hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

.flat:active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

textarea {
  height: 25px;
  width: 120px;
  padding: 10px;
  resize: none;
  font-size: 1.2em;
  display: inline-block;
}

.flexUl {
  animation: slide 2s linear;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 10px;
  font-size: 1.2em;
  margin: auto;
  width: 110%;
}

.flexLi {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 15px;
  border-bottom: 1px solid grey;
  margin: 10px;
  margin-top: 5px;
  padding-left: 0;
}

.flexLi:hover {
  background-color: lightblue;
}

.flexLi p {
  margin-bottom: 0;
  padding-bottom: 0;
  text-transform: capitalize;
}

.flexPlaylist {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  height: 400px;
  width: 400px;
}

button {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
  margin-right: 40px;
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 2.7em;
  text-transform: capitalize;
}

.songInfo {
  margin-top: 45px;
  margin-bottom: 10px;
  border: 1px solid grey;
  width: 520px;
}

.byline {
  text-transform: lowercase;
}

.updateRender {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  padding: 5px;
}

.cancel {
  display: flex;
}

.spacing {
  margin-top: 40px;
}

#button {
  height: 25px;
  width: 50px;
}

.buttons {
  margin-top: 15px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
